* {
    box-sizing: border-box;
}


.sectionwrapper {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    display: block;
    align-items: center;
    background-color: whitesmoke;
    flex-wrap: wrap;

}

.dropbtn {
    background-color: #edd4d3;
    color: white;
    padding: 16px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    z-index: 20;
    width: 130px;
    height: 70px;
    right: 30vw;

}



.dropdown {

    display: inline-block;
    top: 10vw;
    z-index: 23;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(238, 213, 211, 0.9);
    min-width: 140px;
    box-shadow: 10px 10px 5px #888888;


}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;



}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

/*****************menu slut***********/

/*****************time line start*****/

* {
    box-sizing: border-box;
}

/* Set a background color */

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid blue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */

.left {
    left: 0;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media all and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/**************timeline slut**************/

#splash {
    width: 100vw;
    height: 167vw;
    background-image: url(image/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.sectionwrapper {
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 300px;
    margin: 3%;
}

h1 {
    justify-content: center;
    text-align: center;
}

h2 {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 25;
    padding-right: 25;
    color: dimgray;
}

#forside {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    border-bottom-style: solid;
}

#CV .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    border-bottom-style: solid;

}

#CV .column {
    flex-basis: 400px;
    justify-content: flex-start;
    margin: 15%;

}

#CV .colum_content img {
    background-color: whitesmoke;
    width: 40vw;
    height: 30vw;
    top: -20%;

}

#Portofolie {
    border-bottom-style: solid;
}

#Tema1 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    border-bottom-style: solid;
    background-color: #DBD4C8;
}

#Tema1 .column {
    flex-basis: 400px;
    justify-content: flex-start;
    text-align: start;
    margin: 5%;


}

#Tema1 .colum_content img {

    width: 37vw;
    height: 33vw;
    top: -20%;

}

#Tema2 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    border-bottom-style: solid;
    background-color: #BED4CA;
}

#Tema2 .column {
    flex-basis: 400px;
    justify-content: flex-start;
    text-align: start;
    margin: 5%;


}

#Tema2 .column_film {

    width: 50vw;
    height: 40vw;


}


#Tema2 .column_content {
    flex-basis: 400px;
    justify-content: flex-start;
    text-align: start;
    margin: 5%;

}

#Tema2 .content_film {

    width: 20vw;
    height: 20vw;
    top: -20%;

}

#Tema2 .column_narrow {
    text-align: left;
    flex-basis: 300vw;

}

#Tema3 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    border-bottom-style: solid;
    background-color:#D4CFBE ;
}

#Tema3 .column {
    flex-basis: 400px;
    justify-content: flex-start;
    text-align: start;
    margin: 5%;


}

#Tema3 .column_proces img {

    width: 50vw;
    height: 40vw;

}


#Tema3 .column_content {
    flex-basis: 400px;
    justify-content: flex-start;
    text-align: start;
    margin: 5%;

}

#Tema3 .column_proces img {

    width: 50vw;
    height: 40vw;
    top: -20%;

}

#Tema4 .column_narrow {
    text-align: left;
    flex-basis: 300vw;

}



#Tema4 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    border-bottom-style: solid;
    background-color: lightgray;
}

#Tema4 .column {
    flex-basis: 400px;
    justify-content: flex-start;
    text-align: start;
    margin: 5%;


}

#Tema4 .content_proces img {

    width: 50vw;
    height: 40vw;


}


#Tema4 .column_content {
    flex-basis: 400px;
    justify-content: flex-start;
    text-align: start;
    margin: 5%;

}

#Tema4 .column_proces img {

    width: 50vw;
    height: 40vw;
    top: -20%;

}

#Tema4 .column_narrow {
    text-align: left;
    flex-basis: 300vw;

}
